{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped" style="background-color: rgb(60, 60, 60) !important;">
        <thead>
            <tr>
                <th>Minutes</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            {% for session in total_user_sessions %}
                <tr>
                    <td>{{ session.session_minutes }}</td>
                    <td>{{ session.timestamp }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}